@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBE0E4;
}

.container {
  width: 100%;
  background-color: #EBE0E4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("./assets/images/Al\ photo-min-min\ 3.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 242px 242px;
  background-position: center  20% ;
  margin-bottom: 20px;
}



.name-links-div {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: 10px;
  height: auto;
}



.name {
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
  letter-spacing: -0.333px;
  color: #403D52;
  
}

.intro-summary-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 423px;
  margin-bottom: 80px;
  
}

.intro-heading {
  color: #403D52;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 100% */
  letter-spacing: -1.136px;
  width: 95%;
  margin-bottom: 20px;
}

.summary-paragraph {
  color: #403D52;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  max-width: 343px;
  margin-bottom: 20px;
}

.contactme-button {
  color: #403D52;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 162.5% */
  cursor: pointer;
  letter-spacing: 2.286px;
  border-bottom: 2px solid #BF5A7F;
}

.contactme-button:hover {
  color:#BF5A7F
}

.skills-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #403D52;;
  border-bottom: 2px solid #403D52;;
  margin-bottom: 65px;
}

.languages {
  color: #403D52;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 125% */
  letter-spacing: -1px;
  margin-top: 20px;
}

.yearsof-experience {
  color: #403D52;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 20px;
}

.projects-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.projects-heading {
  color: #403D52;
  font-family: "Space Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.136px;
}





.project-container {
  background-image: url("./assets/images/thumbnail-project-1-small.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 346.009px;
  height: 253px;
  margin-bottom: 20px;
}

.project-heading {
  color: #403D52;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.langauges-div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language-paragraph {
  color: #403D52;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.projects-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 80%;
}

.projects-link {
  color: #403D52;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  border-bottom: 2px solid #BF5A7F;
  text-transform: uppercase;
  cursor: pointer;
}

.projects-link:hover {
  color: #BF5A7F;
}

.second-project-container {
  background-image: url("./assets/images/thumbnail-project-2-small.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 346.009px;
  height: 253px;
  margin-bottom: 20px;
}

.third-project-container {
  background-image: url("./assets/images/thumbnail-project-3-small.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 346.009px;
  height: 253px;
  margin-bottom: 20px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #EBE0E4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-heading {
  color: #403D52;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 100% */
  letter-spacing: -1.136px;
  margin-bottom: 20px;
}

.contact-paragraph {
  max-width: 343px;
  color: #403D52;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 40px;
}

form {
  text-align: end;
  width: 70%;
}

/*input,
textarea {
  background-color: #EBE0E4;
  border: none;
  outline: none;
  border-bottom: 1px solid #403D52;
  /* Customize the color as needed 
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
  text-transform: uppercase;
  color: #403D52;
}*/

input, textarea {
  background-color: #EBE0E4;
  border: none;
  outline: none;
  border-bottom: 1px solid #403D52; /* Customize the color as needed */
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
  color: #403D52;
}

input::placeholder, textarea::placeholder {
  text-transform: uppercase; /* Uppercase placeholder */
}

button {
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 20px;
  /* Adjust as needed */
  background-color: #EBE0E4;
  border: none;
  color: #403D52;;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 2.286px;
  border-bottom: 1px solid #BF5A7F;
  margin-bottom: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  color: #BF5A7F;
}



@media (min-width: 768px) {

  .intro-summary-div {
    align-items: start;
    margin-top: 0;
  }


  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
  }


  .contain {
    background-position: right top;
    background-size: 349px 349px;
    align-items: start;
    
    
  }

  .name-links-div {
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
  }

  form {
    width: 60%;
  }

  .name {
    font-size: 32px;
  }

  .intro-heading {
    line-height: 72px;
    font-size: 72px;
  }

  .summary-paragraph {
    font-size: 18px;
  }

  .languages {
    font-size: 48px;
  }

  .yearsof-experience {
    font-size: 18px;
  }

  .projects-heading {
    font-size: 72px;
  }

  .contactme-button {
    font-size: 16px;
  }

  .project-heading {
    font-size: 24px;
  }

  .language-paragraph {
    font-size: 24px;
  }

  .projects-link {
    font-size: 16px;
  }

  .contact-heading {
    font-size: 72px;
  }

  .contact-paragraph {
    font-size: 18px;
  }

  button {
    font-size: 16px;
  }

  
  .links-container {
    margin-top: 20px;
  }

  .intro-summary-div {
    align-items: start;
  }

  .intro-heading {
    text-align: start;
  }

  .summary-paragraph {
    text-align: start;
  }

  .github-link {
    padding-right: 10px;
  }

  .intro-summary-div {
    margin-left: 30px;
  }

  .skills-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    grid-auto-rows: auto; /* Rows size according to the content */
    gap: 20px; /* Space between grid items */
}


}

@media (min-width: 1024px) {

  .container {
    width: 90%;
  }

  .contact-section {
    flex-direction: row;
    align-items: start;
  }
  form {
    width: 40%
  }

  .contain {
    
    background-size: 540px 540px;
   
    
    
  }

  .intro-summary-div {
    
    margin-bottom: 219px;
    
  }

  


  
}

@keyframes explosion {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.explosion {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: explosion 0.5s forwards;
  pointer-events: none;
}

